.navbar-right {
    display: flex;
    justify-content: flex-end;
}

.greenBackround{
    background-color: #1ce48a;
}
.redBackround{
    background-color: #fd7688;
}
.headerSection {
    padding: 150px 10% 50px 10%;
}

.headerSectionError{
    padding: 250px 10% 250px 10%;
}
.detailSection{
    padding: 80px 10% 200px 10%;
}
.detailMain{
    display: flex;
    flex-direction: row;
}
#detailContainer{
    padding-top: 20px;
    width: 50%;
}
#productsContainer{
    width: 50%;
}
#sectionBack{
    padding-top: 50px;
}
.miniImg{
    width: 50px;
}
.menuFiltros {
    padding: 20px;
}

.seccionProductos {
    padding-bottom: 150px;
}

.productCard {
    background-color: rgb(255, 255, 255);
    width: 350px;
    padding: 0;
}


.productCardInfo {
    padding: 10px;
    width: 350px;
}

.productName {
    margin-bottom: 10px;
    width: 100%;
}

.productCardImg:hover {
    cursor: pointer;
}

.productFavoriteButton {
    width: 25px;
}

.cardsContainter {
    display: flex;
    justify-content: left;
}

.containterMargins{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 200px;
}

/* --- modal carro compras --- */

.modal-content {
    border-radius: 0;
    border: none;
}
.carritoModal_producto{
    margin-bottom: 10px;
}
.carritoModalCantidad{
    border: solid 1px #6c757d;
    text-align: center;
    width: 80px;
    border-radius: 5px;
    margin-top: 10px;
}

.carritoModalTotal {
    margin-top: 20px;
}

.sweetAlert{
    background-color: black;
    color: #fff;
    border-radius: 5px;
}



/* --- ventana con detalles --- */
.productInfo {
    margin: 10px, 30px, 10px, 30px;
}

.productInfo_thumbs {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.productInfo_bigImg {
    width: 100%;
}

.productInfo_details {
    background-color: aquamarine;
}

.productInfo_smallImg {
    width: 50%;
    margin-bottom: 10px;
}

@media (max-width:780px){
    .detailMain{
        flex-direction: column;
    }
    #detailContainer{
        padding-top: 20px;
        width: 100%;
    }
    #productsContainer{
        width: 100%;
        padding-top: 20px;
    }
}

@media (max-width:540px) {
    .cardsContainter {
        justify-content: center;
    }
}