.navbar-right {
    display: flex;
    justify-content: flex-end;
}
.headerSection{
    padding: 3%;
}
.menuFiltros {
    padding: 20px;
}
.seccionProductos{
    padding-bottom: 150px;
}

.productCard{
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    max-width: 320px;
    padding: 0;

}
.productCardImg{
    height: 350px;
/*     background-color: cornflowerblue; */
}
.productCardInfo{
    padding: 10px;
} 
.productName{
    margin-bottom: 10px;
}
.productCardImg:hover{
    cursor: pointer;
}
.productFavoriteButton {
    width: 25px;
}
.cardsContainter{
    display: flex;
    justify-content: left;
}


/* --- ventana con detalles --- */
.productInfo{
    margin: 10px,30px,10px,30px;
}
.productInfo_thumbs{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.productInfo_bigImg{
    width: 100%;
}
.productInfo_details{
    background-color: aquamarine;
}
.productInfo_smallImg{
    width: 50%;
    margin-bottom: 10px;

}

@media (max-width:540px) {
    .cardsContainter{
        justify-content: center;
    }
}


